<ion-content [fullscreen]="true" class="create-user-content">

  <div class="header">
    <div class="titulo">Bienvenido</div>
    <p class="subTitulo">Regístrate para crear tu cuenta</p>
  </div>

  <div>
    <div class="ion-padding">
      <ion-item>
        <ion-label position="floating">Correo</ion-label>
        <ion-input [(ngModel)]="mdl_email" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input [(ngModel)]="mdl_password" type="password" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Confirma la Contraseña</ion-label>
        <ion-input [(ngModel)]="mdl_v_password" type="password" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Nombre</ion-label>
        <ion-input [(ngModel)]="mdl_name" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Apellido</ion-label>
        <ion-input [(ngModel)]="mdl_lastName" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Teléfono +56</ion-label>
        <ion-input [(ngModel)]="mdl_career" required></ion-input>
      </ion-item>

      <ion-row>
        <ion-col>
          <div expand="full" class="acciones">
            <a [routerLink]="['/login']" class="password">¿Ya tienes una cuenta?</a>
          </div>
        </ion-col>
        <ion-col>
          <ion-button expand="block" (click)="createUser()">Registrar</ion-button>          
        </ion-col>
      </ion-row>
    </div>
  </div>
</ion-content>
