.splash-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ocupa el 100% de la altura de la pantalla */
    width: 100%;
    background-color: #9ed267;
  }
  
  .splash-image {
    max-width: 100%;
    max-height: 100%;
  }
  